env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: CF_DNS_API_TOKEN

certificatesResolvers:
  cloudflare:
    acme:
      email: "haupha08@gmail.com"
      storage: /data/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

providers:
  kubernetesCRD:
    allowExternalNameServices: true
    allowCrossNamespace: true

tlsOptions:
  default:
    minVersion: "VersionTLS12"
    cipherSuites:
      - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
      - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
    curvePreferences:
      - CurveP521
      - CurveP384

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    forwardedHeaders:
      insecure: true
    tls:
      certResolver: cloudflare
      options: default@kubernetescrd

tlsStore:
  default:
    defaultGeneratedCert:
      resolver: cloudflare
      domain:
        main: philippmhauptmann.me
        sans:
          - '*.philippmhauptmann.me'

logs:
  general:
    format: json
    level: INFO
  access:
    enabled: true
    format: json
    fields:
      headers:
        defaultmode: keep

metrics:
  prometheus:
    service:
      enabled: true
    disableAPICheck: false
    serviceMonitor:
      enabled: true
      metricRelabelings:
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          separator: ;
          regex: ^(.*)$
          targetLabel: nodename
          replacement: $1
          action: replace
      jobLabel: traefik
      interval: 30s
      honorLabels: true
      additionalLabels:
        release: kube-prometheus-stack
    headerLabels:
      user_id: X-User-Id
      tenant: X-Tenant

persistence:
  enabled: true
  name: data
  accessMode: ReadWriteOnce
  size: 128Mi
  path: /data

nodeSelector:
  kubernetes.io/hostname: eggenberg-reverse-proxy
