hostname: rancher.philippmhauptmann.me

replicas: 1

ingress:
  enabled: false

tls: external

service:
  type: NodePort
  ports:
    - port: 80
      protocol: TCP
      name: http
      nodePort: 30080
    - port: 443
      protocol: TCP
      name: https
      nodePort: 30443
