replicas: 1

service:
  type: NodePort
  ports:
    - port: 80
      protocol: TCP
      name: http
      nodePort: 30080
    - port: 443
      protocol: TCP
      name: https
      nodePort: 30443

tls: external

ingress:
  enabled: false