ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: uptime.hauptmann.dev
      paths:
        - path: /
          pathType: Prefix

persistence:
  enabled: true
  storageClass: "longhorn"

nscd:
  enabled: true
