
master:

  config: |-
    # Enter any extra configuration for master.toml here.
    # It may be a multi-line string.

  data:
    type: "persistentVolumeClaim"
    size: "20Gi"
    storageClass: "longhorn"

  logs:
    type: "persistentVolumeClaim"
    size: "10Gi"
    storageClass: "longhorn"
  
  ingress:
    enabled: false

filer:
  data:
    type: "persistentVolumeClaim"
    size: "20Gi"
    storageClass: "longhorn"

  logs:
    type: "persistentVolumeClaim"
    size: "10Gi"
    storageClass: "longhorn"

  ingress:
    enabled: false

  s3:
    enabled: true
    port: 8333
    # add additional https port
    httpsPort: 443
    # allow empty folders
    allowEmptyFolder: false
    # Suffix of the host name, {bucket}.{domainName}
    domainName: ""
    # enable user & permission to s3 (need to inject to all services)
    enableAuth: true
    # set to the name of an existing kubernetes Secret with the s3 json config file
    # should have a secret key called seaweedfs_s3_config with an inline json configure
#    existingConfigSecret: seaweedfs-s3-secret
   
volume:
  enabled: true
  imageOverride: null
  restartPolicy: null
  port: 8080
  grpcPort: 18080
  metricsPort: 9327
  metricsIp: ""  # Metrics listen IP. If empty, defaults to ipBind
  ipBind: "0.0.0.0"
  replicas: 1
  loggingOverrideLevel: null
  # number of seconds between heartbeats, must be smaller than or equal to the master's setting
 
  dataDirs:
  - name: data1
    type: "persistentVolumeClaim"
    size: "100Gi"
    storageClass: "longhorn"

  resizeHook:
    enabled: true
    image: alpine/k8s:1.28.4

  idx:
   type: "persistentVolumeClaim"
   size: "20Gi"
   storageClass: "longhorn"

  logs:
   type: "persistentVolumeClaim"
   size: "10Gi"
   storageClass: "longhorn"


s3:
  enabled: true
  
  enableAuth: true
  # set to the name of an existing kubernetes Secret with the s3 json config file
  # should have a secret key called seaweedfs_s3_config with an inline json config
  #existingConfigSecret: seaweedfs-s3-secret
  auditLogConfig: {}

  # Suffix of the host name, {bucket}.{domainName}
  domainName: ""

  logs:
    type: "persistentVolumeClaim"
    size: "10Gi"
    storageClass: "longhorn"
  extraEnvironmentVars:

  ingress:
    enabled: false
