
garage:
  
  # -- Default to 3 replicas, see the replication_factor section at
  # https://garagehq.deuxfleurs.fr/documentation/reference-manual/configuration/#replication_factor
  replicationFactor: "1"

  rpcSecret: ""
  # -- This is not required if you use the integrated kubernetes discovery
  bootstrapPeers: []
  # -- Set to true if you want to use k8s discovery but install the CRDs manually outside
  # of the helm chart, for example if you operate at namespace level without cluster ressources
  kubernetesSkipCrd: false
  s3:
    api:
      region: "garage"
      rootDomain: "s3-sw.philippmhauptmann.me"
    web:
      rootDomain: "master-sw.philippmhauptmann.me"
      index: "index.html"

persistence:
  enabled: true
  meta:
    storageClass: "longhorn"
    size: 100Mi
    # used only for daemon sets
    #hostPath: /var/lib/garage/meta
  data:
    storageClass: "longhorn"
    size: 100Gi
    # used only for daemon sets
    #hostPath: /var/lib/garage/data

ingress:
  s3:
    api:
      enabled: true
      # -- Rely _either_ on the className or the annotation below but not both!
      # If you want to use the className, set
      className: "traefik"
      # and replace "nginx" by an Ingress controller name,
      # examples [here](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers).
      annotations:
        traefik.ingress.kubernetes.io/router.tls.certresolver: cloudflare
        traefik.ingress.kubernetes.io/router.middlewares: garage-garage-host-header@kubernetescrd

        # kubernetes.io/ingress.class: "nginx"
        # kubernetes.io/tls-acme: "true"
      hosts:
        # -- garage S3 API endpoint, to be used with awscli for example
        - host: "s3-sw.philippmhauptmann.me"
          paths:
            - path: /
              pathType: Prefix
        # -- garage S3 API endpoint, DNS style bucket access
        - host: "*.s3-sw.philippmhauptmann.me"
          paths:
            - path: /
              pathType: Prefix
    web:
      enabled: true
      className: "traefik"
      # and replace "nginx" by an Ingress controller name,
      # examples [here](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers).
      annotations:
        traefik.ingress.kubernetes.io/router.tls.certresolver: cloudflare
        # kubernetes.io/ingress.class: nginx
        # kubernetes.io/tls-acme: "true"
      labels: {}
      hosts:
      # --  wildcard website access with bucket name prefix
       - host: "*.master-sw.philippmhauptmann.me"
         paths:
           - path: /
             pathType: Prefix
       # -- specific bucket access with FQDN bucket
       - host: "master-sw.philippmhauptmann.me"
         paths:
           - path: /
             pathType: Prefix
      tls: []
      #  - secretName: my-garage-cluster-tls
      #    hosts:
      #      - kubernetes.docker.internal

resources: {}
  # The following are indicative for a small-size deployement, for anything serious double them.
  # limits:
  #   cpu: 100m
  #   memory: 1024Mi
  # requests:
  #   cpu: 100m
  #   memory: 512Mi

# -- Specifies a livenessProbe
livenessProbe: {}
  #httpGet:
  #  path: /health
  #  port: 3903
  #initialDelaySeconds: 5
  #periodSeconds: 30
# -- Specifies a readinessProbe
readinessProbe: {}
  #httpGet:
  #  path: /health
  #  port: 3903
  #initialDelaySeconds: 5
  #periodSeconds: 30

nodeSelector: {}

tolerations: []

affinity: {}

environment: {}

extraVolumes: {}

extraVolumeMounts: {}

monitoring:
  metrics:
    # -- If true, a service for monitoring is created with a prometheus.io/scrape annotation
    enabled: false
    serviceMonitor:
      # -- If true, a ServiceMonitor CRD is created for a prometheus operator
      # https://github.com/coreos/prometheus-operator
      enabled: false
      path: /metrics
      #  namespace: monitoring  (defaults to use the namespace this chart is deployed to)
      labels: {}
      interval: 15s
      scheme: http
      tlsConfig: {}
      scrapeTimeout: 10s
      relabelings: []
